# Project exclude paths
/dubbo-admin/dubbo-admin-server/target/
/dubbo-admin/dubbo-admin-ui/target/
/dubbo-admin/target/
/dubbo-demo-parent/compiler-demo/target/
/dubbo-demo-parent/decorator-pattern-demo/target/
/dubbo-demo-parent/spi-dubbo-demo/target/
/dubbo-demo-parent/spi-java-demo/target/
/dubbo-demo-parent/spring-schema-demo/target/
/dubbo-parent/dubbo-cluster/target/
/dubbo-parent/dubbo-common/target/
/dubbo-parent/dubbo-config/dubbo-config-api/target/
/dubbo-parent/dubbo-config/dubbo-config-spring/target/
/dubbo-parent/dubbo-configcenter/dubbo-configcenter-api/target/
/dubbo-parent/dubbo-configcenter/dubbo-configcenter-zookeeper/target/
/dubbo-parent/dubbo-configcenter/target/
/dubbo-parent/dubbo-container/dubbo-container-api/target/
/dubbo-parent/dubbo-container/dubbo-container-log4j/target/
/dubbo-parent/dubbo-container/dubbo-container-logback/target/
/dubbo-parent/dubbo-container/dubbo-container-spring/target/
/dubbo-parent/dubbo-container/target/
/dubbo-parent/dubbo-demo/dubbo-demo-api/dubbo-demo-api-provider/target/
/dubbo-parent/dubbo-demo/dubbo-demo-interface/target/
/dubbo-parent/dubbo-demo/dubbo-demo-xml/dubbo-demo-xml-consumer/target/
/dubbo-parent/dubbo-demo/dubbo-demo-xml/dubbo-demo-xml-provider/target/
/dubbo-parent/dubbo-demo/dubbo-demo-xml/target/
/dubbo-parent/dubbo-demo/target/
/dubbo-parent/dubbo-filter/dubbo-filter-cache/target/
/dubbo-parent/dubbo-filter/dubbo-filter-validation/target/
/dubbo-parent/dubbo-metadata-report/dubbo-metadata-definition/target/
/dubbo-parent/dubbo-metadata-report/dubbo-metadata-report-api/target/
/dubbo-parent/dubbo-metadata-report/dubbo-metadata-report-zookeeper/target/
/dubbo-parent/dubbo-monitor/dubbo-monitor-api/target/
/dubbo-parent/dubbo-registry/dubbo-registry-api/target/
/dubbo-parent/dubbo-registry/dubbo-registry-multicast/target/
/dubbo-parent/dubbo-registry/dubbo-registry-zookeeper/target/
/dubbo-parent/dubbo-remoting/dubbo-remoting-api/target/
/dubbo-parent/dubbo-remoting/dubbo-remoting-netty/target/
/dubbo-parent/dubbo-remoting/dubbo-remoting-netty4/target/
/dubbo-parent/dubbo-remoting/dubbo-remoting-zookeeper/target/
/dubbo-parent/dubbo-remoting/target/
/dubbo-parent/dubbo-rpc/dubbo-rpc-api/target/
/dubbo-parent/dubbo-rpc/dubbo-rpc-dubbo/target/
/dubbo-parent/dubbo-rpc/dubbo-rpc-injvm/target/
/dubbo-parent/dubbo-serialization/dubbo-serialization-api/target/
/dubbo-parent/dubbo-serialization/dubbo-serialization-hessian2/target/
/dubbo-parent/dubbo-serialization/target/
/dubbo-parent/target/